hostname {{ hostname }}

<! ===== BASE CONFIGURATION =====>
{% block base %}{% endblock %}

<! ===== UNDERLAY CONFIGURATION =====>
{% block underlay %}{% endblock %}

<! ===== OVERLAY CONFIGURATION =====>
{% block overlay %}{% endblock %}
